<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Totals</title>
</head>
<body>
 
    <h1>Company Totals</h1>
    
    <p><strong>Total People Count:</strong> {{ total_people_count }}</p>
    <p><strong>Total Senior People Count:</strong> {{ total_senior_people_count }}</p>
    <p><strong>Total Emails Count:</strong> {{ total_emails_count }}</p>
    <p><strong>Total Personal Emails Count:</strong> {{ total_personal_emails_count }}</p>
    <p><strong>Total Phones Count:</strong> {{ total_phones_count }}</p>
    <p><strong>Total Addresses Count:</strong> {{ total_addresses_count }}</p>
    <p><strong>Total Investors Count:</strong> {{ total_investors_count }}</p>
    <p><strong>Total Clients Count:</strong> {{ total_clients_count }}</p>
    <p><strong>Total Partners Count:</strong> {{ total_partners_count }}</p>
    <p><strong>Total Changes People Count:</strong> {{ total_changes_count }}</p>
    <p><strong>Total People Changes Count:</strong> {{ total_people_changes_count }}</p>
    <p><strong>Total Contact Changes Count:</strong> {{ total_contact_changes_count }}</p>

    <h1>Search for Company Info by ID</h1>
    
  
    <form action="/DashTotalComTest" method="post">
        <label for="company_id">Enter Company ID:</label>
        <input type="number" id="company_id" name="company_id" required>
        <button type="submit">Search</button>
    </form>

    <a href="/test">Back to Home</a> 


</body>
</html>



<!-- new template Start -->
