<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Company</title>
</head>
<body>
    <h1>Create a new Company</h1>
    <form action="/create" method="post">
        <label for="id">ID:</label>
        <input type="number" id="id" name="id" required><br><br>

        <label for="url">url:</label>
        <input type="text" id="url" name="url" required><br><br>

        <label for="name">name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="website">website:</label>
        <input type="text" id="website" name="website" required><br><br>

        <label for="people_count">people_count:</label>
        <input type="number" id="people_count" name="people_count" required><br><br>

        <label for="senior_people_count">senior_people_count:</label>
        <input type="number" id="senior_people_count" name="senior_people_count" required><br><br>

        <label for="emails_count">emails_count:</label>
        <input type="number" id="emails_count" name="emails_count" required><br><br>

        <label for="personal_emails_count">personal_emails_count:</label>
        <input type="number" id="personal_emails_count" name="personal_emails_count" required><br><br>

        <label for="phones_count">phones_count:</label>
        <input type="number" id="phones_count" name="phones_count" required><br><br>

        <label for="addresses_count">addresses_count:</label>
        <input type="number" id="addresses_count" name="addresses_count" required><br><br>

        <label for="investors_count">investors_count:</label>
        <input type="number" id="investors_count" name="investors_count" required><br><br>

        <label for="clients_count">clients_count:</label>
        <input type="number" id="clients_count" name="clients_count" required><br><br>

        <label for="partners_count">partners_count:</label>
        <input type="number" id="partners_count" name="partners_count" required><br><br>

        <label for="changes_count">changes_count:</label>
        <input type="number" id="changes_count" name="changes_count" required><br><br>

        <label for="people_changes_count">people_changes_count:</label>
        <input type="number" id="people_changes_count" name="people_changes_count" required><br><br>

        <label for="contact_changes_count">contact_changes_count:</label>
        <input type="number" id="contact_changes_count" name="contact_changes_count" required><br><br>

        <label for="description_short">description_short:</label>
        <input type="text" id="description_short" name="description_short" required><br><br>

        <button type="submit">Submit</button>

        <a href="/table">
            <button type="button">Go to table Page</button>
        </a>

    </form>
</body>
</html>