<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashborad test</title>
</head>
<body>
    <h1>Company Info</h1>
    {% if CompanyInfo %}
        <h2>Details:</h2>
        <p>ID: {{ CompanyInfo.company_idUK }}</p>
        <p>URL: {{ CompanyInfo.url }}</p>
        <p>Name: {{ CompanyInfo.name }}</p>
        <p>Website: {{ CompanyInfo.website }}</p>
        <p>Description: {{ CompanyInfo.description_short }}</p>
    {% else %}
        <p>No data found for this company.</p>
    {% endif %}

    <h1>Company Employee</h1>
    {% if CompanyEmployee %}
        <h2>Details:</h2>
        <p>ID: {{ CompanyEmployee.id }}</p>
        <p>People Count: {{ CompanyEmployee.people_count }}</p>
        <p>Senior Count: {{ CompanyEmployee.senior_people_count }}</p>
    {% else %}
        <p>No data found for this company.</p>
    {% endif %}

    <h1>Company Contact</h1>
    {% if CompanyContact %}
        <h2>Details:</h2>
        <p>ID: {{ CompanyContact.id }}</p>
        <p>Emails Count: {{ CompanyContact.emails_count }}</p>
        <p>Personal Emails Count: {{ CompanyContact.personal_emails_count }}</p>
        <p>phones Count: {{ CompanyContact.phones_count }}</p>
        <p>addresses Count: {{ CompanyContact.addresses_count }}</p>
    {% else %}
        <p>No data found for this company.</p>
    {% endif %}

    <h1>Company Benefits</h1>
    {% if CompanyBenefits %}
        <h2>Details:</h2>
        <p>ID: {{ CompanyBenefits.id }}</p>
        <p>Investors Count: {{ CompanyBenefits.investors_count }}</p>
        <p>Clients Count: {{ CompanyBenefits.clients_count }}</p>
        <p>Partners Count: {{ CompanyBenefits.partners_count }}</p>
    {% else %}
        <p>No data found for this company.</p>
    {% endif %}

    <h1>Company Change</h1>
    {% if CompanyChange %}
        <h2>Details:</h2>
        <p>ID: {{ CompanyChange.id }}</p>
        <p>Changes Count: {{ CompanyChange.changes_count }}</p>
        <p>People Changes Count: {{ CompanyChange.people_changes_count }}</p>
        <p>Contact Changes Count: {{ CompanyChange.contact_changes_count }}</p>
    {% else %}
        <p>No data found for this company.</p>
    {% endif %}
    
    </form>
    <a href="/DashTotalComTest">Back to Home</a>  <!-- ลิงก์กลับไปหน้าแรก -->
</body>
</html>

